<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/styles.css" rel="stylesheet">
    <title>SneakerShop</title>
</head>

<body>

    <section class="padre">

        <header class="header margen-interno"> <!-- Encabezado -->
            <div class="menu">
                <div class="logo">
                    <a href="home.html"><img width= "200" height="200" src="/images/logo.jpg" alt="Logo de la empresa" alt=""></a>
                </div>

                <!-- BUSCADOR -->
                <div class="buscador">
                    <div class="barra"></div>
                </div>
                
                <!-- ICONOS -->
                <div class="iconos"></div>

            </div>

            <!--  MENU -->
                              
                <nav class="navppal">
                    <button class="navboton" onclick="accion()">Menú</button>
                    <a href="#" class="nav-enlace desaparece">Categorías</a> 
                    <a href="#" class="nav-enlace desaparece">Hombre</a> 
                    <a href="#" class="nav-enlace desaparece">Mujer</a> 
                    <a href="#" class="nav-enlace desaparece">Niños</a> 
                    <a href="#" class="nav-enlace desaparece ">Marcas</a> 
                    <a href="#" class="nav-enlace desaparece">Ofertas</a>
                </nav>
         
        </header>
    
    

        <section class="container"> <!-- Carrusel -->

            <ul class="slider">
                <li id="slider1">
                    <a href="productos.html"><img src="/images/carrusel1.jpg" alt="carrusel1"></a>
                </li>
                <li id="slider2">
                    <a href="productos.html"><img src="/images/carrusel2.jpg" alt="carrusel1"></a>
                </li>

                <li id="slider3">
                    <a href="productos.html"><img src="/images/carrusel3.jpg" alt="carrusel1"></a>
                </li>
            </ul> 
            
            
            
            <ul class="menuslider">
                <li>
                  <a href="#slider1">1</a>
                </li>
                <li>
                  <a href="#slider2">2</a>
                </li>
                 <li>
                  <a href="#slider3">3</a>
                </li>
              </ul>
            
        </section>



        <h2 class= "azul">Los más Vendidos</h2>  
        <section class="masvendidos margen-interno"> <!-- Contenido de los productos Más vendidos -->
            <article class="article">
                <a href="productos.html"><img src="/images/z1_prod_masvendido.jpg" alt="Más vendidos Producto 1"></a>
                <h3>Zapatillas Nike Air Max Excee</h3>
            <p>Precio $ 12500</p>
            </article>
            <article class="article">
                <a href="productos.html"><img src="/images/z2_prod_masvendido.jpg" alt="Más vendidos Producto 1"></a>
                <h3>Zapatillas Nike Air Max Excee</h3>
            <p>Precio $ 12500</p>
            </article>  
            <article class="article">
                <a href="productos.html"><img src="/images/z3_prod_masvendido.jpg" alt="Más vendidos Producto 1"></a>
                <h3>Zapatillas Nike Air Max Excee</h3>
                <p>Precio $ 12500</p>
            </article> 
            <article class="article">
                <a href="productos.html"><img src="/images/z4_prod_masvendido.jpg" alt="Más vendidos Producto 1"></a>
                <h3>Zapatillas Nike Air Max Excee</h3>
                <p>Precio $ 12500</p>
            </article>            
        
        </section>


        <h2 class= "azul">Recomendados para Vos</h2> 
        <section class="recomendados margen-interno"> <!-- Contenido de los Recomendados para Vos -->
            
        
            <article class="article">
                <a href="productos.html"><img src="/images/z1_prod_masvendido.jpg" alt="Más vendidos Producto 1"></a>
                <h3>Zapatillas Nike Air Max Excee</h3>
            <p>Precio $ 12500</p>
            </article>
            <article class="article">
                <a href="productos.html"><img src="/images/z2_prod_masvendido.jpg" alt="Más vendidos Producto 1"></a>
                <h3>Zapatillas Nike Air Max Excee</h3>
            <p>Precio $ 12500</p>
            </article>  
            <article class="article">
                <a href="productos.html"><img src="/images/z3_prod_masvendido.jpg" alt="Más vendidos Producto 1"></a>
                <h3>Zapatillas Nike Air Max Excee</h3>
                <p>Precio $ 12500</p>
            </article> 
            <article class="article">
                <a href="productos.html"><img src="/images/z4_prod_masvendido.jpg" alt="Más vendidos Producto 1"></a>
                <h3>Zapatillas Nike Air Max Excee</h3>
                <p>Precio $ 12500</p>
            </article>            
        
        </section>

        <footer class="footer margen-interno">  <!-- Contenido del footer-->
            <div class="contenedor_pie1">
                <nav class="info">
                    <h2>Nosotros</h2>
                    <a href="#">Quienes Somos</a>
                    <a href="#">Sucursales</a>
                    <a href="#">Políticas y Privacidad</a>
                    <a href="#">Términos y Condiciones</a>
                    
                </nav>

                <nav class="info">
                    <h2>Ayuda</h2>
                    <a href="#">Preguntas Frecuentes</a>
                    <a href="#">Entregas</a>
                    <a href="#">Pagos y Promociones</a>
                    <a href="#">Políticas de Cambio</a>
                </nav>

                <nav class="info">
                    <h2>¡Seguinos!</h2>
                    <a href="#">Facebook</a>
                    <a href="#">Twitter</a>
                    <a href="#">Instagram</a>
                </nav>

                <nav class="info">
                    <h2>Centro de Atención a Cliente</h2>
                    <p>Lunes a Viernes de 9:00 a 20:00 hs</p>
                    <a href="#">Contacto</a>
                    <a href="#">WhatsApp</a>
                    <a href="#">0800-3325416</a>
                </nav>
            </div>

            <div class="pie">
                <div class="logo2">
                <a href="home.html"><img width= "150" height="150"  src="/images/logo2.jpg" alt="Logo de la empresa" alt=""></a>
                </div>

                <div class="textopie">
                <h3>© Copyright - 2017 - 2021 www.snikershop.com.ar, TODOS LOS DERECHOS RESERVADOS. Las fotos contenidas en este site, el logotipo y las marcas son propiedad de www.snikershop.com.ar y/o de sus respectivos titulares. Está prohibida la reproducción total o parcial, sin la expresa autorización de la administradora de la tienda virtual. Snikershop, empresa perteneciente al grupo COHESIL S.A. con domicilio en Autopista Panamericana KM 23 - Don Torcuato de la Provincia de Buenos Aires – Argentina.</h3>
                
            </div>

            </div>
        </footer>
    </section>
         

    <script>
        function accion() {
        var ancla = document.getElementsByClassName('nav-enlace');
            for(var i = 0; i < ancla.length; i++){
                ancla[i].classList.toggle('desaparece');
            }
        }

    </script>
</body>
</html>