<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link href="css/styles2.css" rel="stylesheet">
    <title>Slider</title>
</head>
<body>
    

<div class = "contenedor">
    <div class = "carrusel">
        <ul>
            <li><img src="/images/carrusel1.jpg" alt=""></li>
            <li><img src="/images/carrusel2.jpg" alt=""></li>
            <li><img src="/images/carrusel3.jpg" alt=""></li>
            
    
        </ul>
    </div>

    
</div>

<div id="btn-prev">&#60</div>
<div id="btn-next">&#62</div>







</body>
</html>