.contenedor{
    width: 95%;
    margin: auto;
    overflow: hidden;
    position: relative
   
}

.carrusel ul{
    display: flex;
    padding: 0;
    width: 300%;

    animation-name: cambio;
    animation-duration: 10s;
    animation-iteration-count: infinite;

   
}

.carrusel li{
    width: 100%;
    list-style: none;
}

@keyframes cambio {
    0% { margin-left: 0;}
    30% { margin-left: 0;}

    35% {margin-left: -100;}
    65% { margin-left: -100;}

    70% {margin-left: -200;}
    100% { margin-left: -200;}
    
}